---
- name: List all _legacy and _sv dotfiles
  ansible.builtin.command:
    cmd: find {{ ansible_facts.env.HOME }} -maxdepth 1 -type f -name '*_legacy' -o -name '*_sv'
  register: dotfiles_found_files_output
  tags:
    - setup
    - skip_ansible_lint

- name: Parse found files output
  ansible.builtin.set_fact:
    dotfiles_found_files: "{{ dotfiles_found_files_output.stdout_lines }}"
  tags:
    - setup

- name: Create a list of _legacy files
  ansible.builtin.set_fact:
    dotfiles_legacy_files: "{{ dotfiles_found_files | select('match', '.*_legacy') | list }}"
  tags:
    - setup

- name: Create a list of _sv files
  ansible.builtin.set_fact:
    dotfiles_sv_files: "{{ dotfiles_found_files | select('match', '.*_sv') | list }}"
  tags:
    - setup

- name: Source _legacy files in corresponding main files using blockinfile
  ansible.builtin.blockinfile:
    path: "{{ item | regex_replace('(_legacy)$', '') }}"
    block: source {{ item }}
    create: true
    mode: "0600"
    marker: "# {mark} Legacy config - Managed by Ansible - Do not modify this line"
  loop: "{{ dotfiles_legacy_files }}"
  when: item | regex_search('\\.gitconfig_legacy$') is none
  tags:
    - setup

- name: Source _sv files in corresponding main files using blockinfile
  ansible.builtin.blockinfile:
    path: "{{ item | regex_replace('(_sv)$', '') }}"
    create: true
    mode: "0600"
    block: source {{ item }}
    marker: "# {mark} SV config - Managed by Ansible - Do not modify this line"
  loop: "{{ dotfiles_sv_files }}"
  when: item | regex_search('\\.gitconfig_sv$') is none
  tags:
    - setup

- name: Source .gitconfig legacy the right way
  ansible.builtin.blockinfile:
    path: "{{ ansible_facts.env.HOME }}/.gitconfig"
    mode: "0600"
    create: true
    block: |
      [include]
        path = .gitconfig_legacy
    marker: "# {mark} Legacy config - Managed by Ansible - Do not modify this line"
  tags:
    - setup

- name: Source .gitconfig the right way
  ansible.builtin.blockinfile:
    path: "{{ ansible_facts.env.HOME }}/.gitconfig"
    mode: "0600"
    create: true
    block: |
      [include]
        path = .gitconfig_sv
    marker: "# {mark} SV config - Managed by Ansible - Do not modify this line"
  tags:
    - setup

- name: Check if .gitconfig.local file exists
  ansible.builtin.stat:
    path: "{{ ansible_facts.env.HOME }}/.gitconfig.local"
  register: dotfiles_gitconfig_local
  tags:
    - setup

- name: Create .gitconfig.local file if it doesn't exist
  ansible.builtin.file:
    path: "{{ ansible_facts.env.HOME }}/.gitconfig.local"
    state: touch
    mode: "0600"
  when: not dotfiles_gitconfig_local.stat.exists
  tags:
    - setup
