---
- name: Set the dotfiles repository folder
  ansible.builtin.set_fact:
    dotfiles_repo: "{{ ansible_facts.env.HOME }}/.dotfiles/sv"
  tags:
    - setup

- name: Ensure dotfiles destination directory exists
  ansible.builtin.file:
    path: "{{ dotfiles_repo }}"
    mode: "0700"
    state: directory

  become: false
  tags:
    - setup

- name: Clone dotfiles repository
  ansible.builtin.git:
    repo: https://github.com/stefan-vatov/dotfiles.git
    dest: "{{ dotfiles_repo }}"
    update: true
  become: false
  tags:
    - setup
    - skip_ansible_lint

- name: Set up pre-commit hooks in the repository
  ansible.builtin.command:
    cmd: pre-commit install
    chdir: "{{ dotfiles_repo }}"
  tags:
    - setup
    - skip_ansible_lint

# Set up to push for those that can
- name: Change dotfiles repository origin
  ansible.builtin.command:
    cmd: git remote set-url origin git@github.com:stefan-vatov/dotfiles.git
    chdir: "{{ dotfiles_repo }}"
  tags:
    - setup
    - skip_ansible_lint

- name: Use GNU Stow to link dotfiles
  ansible.builtin.command:
    cmd: stow -t {{ ansible_facts.env.HOME }} -d {{ ansible_facts.env.HOME }}/.dotfiles/sv -R . --ignore='.DS_Store'
  become: false
  tags:
    - setup
    - skip_ansible_lint

- name: Check for existing dotfiles
  ansible.builtin.stat:
    path: "{{ ansible_facts.env.HOME }}/{{ item }}"
  register: dotfiles_dotfiles_status
  loop: "{{ dotfiles_list }}"
  tags: setup

- name: Check if dotfiles are managed by Ansible
  ansible.builtin.slurp:
    src: "{{ ansible_facts.env.HOME }}/{{ item.item }}"
  register: dotfiles_file_contents
  loop: "{{ dotfiles_dotfiles_status.results }}"
  when: item.stat.exists
  tags: setup

- name: Set is_managed flag for each dotfile
  ansible.builtin.set_fact:
    dotfiles_dotfiles_status: "{{ dotfiles_dotfiles_status.results | zip(dotfiles_file_contents.results) | map('combine') | list }}"
  tags: setup

- name: Rename existing dotfiles to _sv
  ansible.builtin.command:
    cmd: mv {{ item.stat.path }} {{ item.stat.path }}_sv
  when: item.stat.exists and not ('# BEGIN SV config - Managed by Ansible - Do not modify this line' in (item.content | b64decode))
  loop: "{{ dotfiles_dotfiles_status }}"
  tags:
    - setup
    - skip_ansible_lint
